* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*iconos*/

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3em;
    height: 3em;
}

.carousel-control-prev, .carousel-control-next {
    width: 3em;
    margin: 4em;
}

/*Page 1*/

#page-1 {
    background: #606060;
    min-height: 100vh;
}

#page-1 img {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*Page 2*/

#block-box-1 {
    background-color: #29abe2;
}

#block-box-2 {
    background-color: #0071bc;
}

#block-box-3 {
    background-color: #2e3192;
}

#block-box-4 {
    background-color: #534741;
}

[id*="block-box-"] {
    text-align: center;
    min-height: 50vh;
}

.text {
    font-size: 10vw;
    color: #fff;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*Page 3*/

#page-3 {
    background: url("../images/wallpaper.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 0 3em;
}

#page-3 .container-fluid {
    padding: 0 5em;
}

#container-box {
    min-height: 100vh;
    position: relative;
}

#container-box-text {
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#box-text {
    width: 100%;
    height: 37vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
}

#box-text p {
    font-weight: 400;
    font-size: 2.8em;
}

.btn-slide-submit {
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.5em;
    padding: 5px 25px;
    border-radius: 10px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

/* Meddia Query */

@media (max-width: 800px) {
    .carousel-control-prev, .carousel-control-next {
        width: 2em;
        margin: 1em;
    }
    #page-1 img {
        width: 70%;
    }
    #page-3 .container-fluid {
        padding: 0 2em;
    }
}

@media (max-width: 400px) {
    #box-text p {
        font-weight: 500;
        font-size: 2em;
    }
    .btn-slide-submit {
        font-weight: 300;
        font-size: 1em;
    }
}