* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #eeeeee;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #1f1f20;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px !important; /* page doesnt omit 0px */
    height: 100vh;
}

/* Sidebar Styles */

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 5px 15px;
    padding: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sidebar-nav li a:hover, 
.sidebar-nav li a:focus {
    background-color: #00acc1;
    text-decoration: none;
    transition: all 0.3s;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.sidebar-nav li a.active {
    color: #fff;
    background: #00acc1;
}

.sidebar-nav>.sidebar-brand {
    height: 55px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand h1 {
    height: 65px;
    line-height: 60px;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.sidebar-nav>.sidebar-brand h1 img {
    height: 1.1em;
    padding-right: 10px;
}
hr {
    background-color: #fff;
    margin: 10px
}

[class*="col"] {
    padding: 0px;
}

.item-sidebar{
    width: 100%;
    padding: 20px;
    height: min-content;
}

/*Dogs List*/
td {
    width: 25%;
    font-weight: 200;
}

td, th{
    font-size: 0.9em;
}

.title-box {
    background-color: #a13bb5;
    color: #fff;
    padding: 10px;
    width: 95%;
    position: relative;
    left: 50%;
    top: 60px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.title-box h2{
    font-weight: 400;
    font-size: 1.5em;
}

.title-box, .content-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.content-box {
    background-color: #fff;
    padding: 50px 20px;
    width: 100%;
}

.content-box thead th {
    color: #a13bb5;
    border-top: none;
    font-weight: 500;
}

/* add dog */

.add-dog,
.add-owner {
    padding: 6px;
}

.input-form {
    border: none;
    height: 35px;
    border-bottom: 1px solid #ccc;
}

.col-form-group {
    padding-right: 20px;
    font-size: 0.9em;
    margin-bottom: 0;
}

.btn-add-submit{
    background-color: #a13bb5;
    color: #fff;
    padding: 5PX 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px 0;
}

.btn-add-submit:hover{
    color: #FFF;
    background-color: #8b27a1
}

/* Media */

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}