{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dekoding Test</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="icon" type="image/png" href="{% static 'images/small_logo.png' %}">
</head>

<body>

  <div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <h1><span><img src="{% static 'images/small_logo.png' %}"></span>DEKODING</h>
        </li>
        <hr>
        <li>
          <a id="link-dog-list" aria-expanded="true" href="{% url 'ListDog' %}">
            <span><img src="{% static 'images/list_icon.png' %}"></span>
            Dog List
          </a>
        </li>
        <li>
          <a id="link-add-dog" href="{% url 'AddDog' %}">
            <span><img src="{% static 'images/add_icon.png' %}"></span>
            Add Dog
          </a>
        </li>
        <li>
          <a id="link-owner-list" href="{% url 'ListOwner' %}">
            <span><img src="{% static 'images/list_icon.png' %}"></span>
            Owner List
          </a>
        </li>
        <li>
          <a id="link-add-owner" href="{% url 'AddOwner' %}">
            <span><img src="{% static 'images/add_icon.png' %}"></span>
            Add Owner
          </a>
        </li>
      </ul>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <a href="#menu-toggle" class="btn btn-secondary d-lg-none d-xl-none" id="menu-toggle"><i class="fas fa-bars"></i></a>
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>

  </div>

  <!--Scripts  -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>