{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dekoding Test</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/slider.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="icon" type="image/png" href="{% static 'images/small_logo.png' %}">
</head>

<body>
  <!-- Carousel -->
  <section class="h-100">
    <div id="carouselTestDekoding" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">

        <!--Page 1-->
        <div id="page-1" class="carousel-item active">
          <img src="{% static 'images/logo.png' %}" class="d-block" alt="logo of Dekoding">
        </div>

        <!--Page 2-->
        <div id="page-2" class="carousel-item">
          <div class="row">
            <div id="block-box-1" class="col">
              <p class="text">D</p>
            </div>
            <div id="block-box-2" class="col">
              <p class="text">E</p>
            </div>
            <div id="block-box-3" class="col">
              <p class="text">K</p>
            </div>
            <div class="w-100"></div>
            <div id="block-box-4" class="col">
              <p class="text">ODING</p>
            </div>
          </div>
        </div>

        <!--Page 3-->
        <div id="page-3" class="carousel-item">
          <div class="container-fluid">
            <div class="row justify-content-end">
              <div id="container-box" class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12">
                <div id="container-box-text" class="text-right">
                  <div id="box-text">
                    <p>Dekoding</p>
                  </div>
                  <button id="submit-btn" type="button" class="btn btn-primary btn-slide-submit" data-toggle="modal"
                    data-target="#testDekodingModal">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselTestDekoding" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselTestDekoding" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>

      <!-- Modal Slider-->
      <div class="modal fade" id="testDekodingModal" tabindex="-1" role="dialog" aria-labelledby="testDekodingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Content Content
            </div>
            <div class="modal-footer">
              <button id="modalClose" type="button" class="btn btn-secondary">Close</button>
              <button id="modalSubmit" type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Scripts  -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/slider.js' %}"></script>
</body>

</html>