{% extends "backend.html" %}
{% load static %}

{% block content %}
<div id="add-dog" class="item-sidebar col-md-9">

    <div class="title-box">
        <h2>Add Owner</h2>
    </div>

    <div class="content-box">
        <form method="POST" class="row add-owner">
            {%csrf_token%}

            {% for hidden in form.hidden_fields %}
            {{hidden}}
            {% endfor %}

            <div class="form-group col-md-8 col-lg-8 col-xl-8 col-form-group">
                <label for="name-dog"></label>
                {{form.name}}
            </div>
            <div class="form-group col-md-4 col-lg-4 col-xl-4 col-form-group">
                <label for="breed-dog"></label>
                {{form.dni}}
            </div>
            <div class="w-100"></div>
            <div class="form-group col-md-8 col-lg-8 col-xl-8 col-form-group">
                <label for="age-dog"></label>
                {{form.address}}
            </div>
            <div class="form-group col-md-4 col-lg-4 col-xl-4 col-form-group">
                <label for="owner-dog"></label>
                {{form.phone}}
            </div>
            <div class="w-100"></div>
            <button type="submit" class="btn btn-add-submit">ADD OWNER</button>
        </form>
    </div>
</div>
{% endblock %}