{% extends "backend.html" %}
{% load static %}

{% block content %}

<div id="owner-list" class="item-sidebar">
    <div class="title-box">
        <h2>Owners List</h2>
    </div>
    <div class="content-box">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for owner in owners %}
                <tr>
                    <td>{{owner.name}}</td>
                    <td>{{owner.dni}}</td>
                    <td>{{owner.address}}</td>
                    <td>{{owner.phone}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}