{% extends "backend.html" %}
{% load static %}

{% block content %}

<div id="dog-list" class="item-sidebar">
    <div class="title-box">
        <h2>Dogs List</h2>
    </div>
    <div class="content-box">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Breed</th>
                    <th scope="col">Owner</th>
                </tr>
            </thead>
            <tbody>
                {% for dog in dogs %}
                <tr>
                    <td>{{dog.name}}</td>
                    <td>{{dog.age}}</td>
                    <td>{{dog.breed}}</td>
                    <td>{{dog.owner}}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}